/*-------------------------------*/
/* Layout */
/*-------------------------------*/
body {
  padding: 0 50px;
    font-size:100%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
footer {
    height:50px;
    width: 100%;
    position: absolute;
    bottom:0;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*-------------------------------*/
/* Navigation */
/*-------------------------------*/
nav {
    height:50px;
}
nav ul {
    position: relative;
    top:20px;
}
nav ul li {
    float:right;
}
ul.dropdown-menu {
    width:200px;
    height:100px;
    border:1px solid red;
}
ul.dropdown-menu li {
    padding: 5px 10px 5px 10px;
}
a {
    text-decoration: none;
}

/*-------------------------------*/
/* Typography */
/*-------------------------------*/
footer p {
    text-align: center;
}

a {
  color: #00B7FF;
}