extends layout

block link
  link(rel='stylesheet', href='/app/css/app.css')
block content
  .container(ng-app='backend')
    .row
      .col-xs-3
        ul.nav.nav-pills.nav-stacked
          each link in navSide
            li(role='presentation')
              a(href=link.Link) #{link.Text}
      .col-xs-9
        div(ng-view)
block script
  script(src='/lib/angular/angular.js')
  script(src='/lib/angular-route/angular-route.js')
  script(src='/lib/angular-resource/angular-resource.js')
  script(src='/app/backend.js')
  script(src='/app/home/home.controller.js')
  script(src='/app/users/users.service.js')
  script(src='/app/users/users.controller.js')
  script(src='/app/users/addOrUpdate.controller.js')
  script(src='/app/users/delete.controller.js')
  script(src='/app/categories/categories.service.js')
  script(src='/app/categories/categories.controller.js')
  script(src='/app/categories/addOrUpdate.controller.js')
  script(src='/app/categories/delete.controller.js')
  script(src='/app/tags/tags.service.js')
  script(src='/app/tags/tags.controller.js')
  script(src='/app/tags/addOrUpdate.controller.js')
  script(src='/app/tags/deleteTag.controller.js')
