extends layout

block content
 
 h1= title
 p Welcome to #{title}

 // Page Content
 .container
  // Page Header
  .row
   .col-lg-12
    h1.page-header Page Heading
    small Secondary Text
  // /.row

  
  // Projects Row
  .row
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
  // /.row
  // Projects Row
  .row
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
      
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
  
  // Projects Row
  .row
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
     
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
     
   .col-md-4.portfolio-item
    a(href='#')
     img.img-responsive(src='http://placehold.it/700x400', alt='')
    h3
     a(href='#') Project Name
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
  // /.row 