doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arimo:400')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
   //- Button triggers the modal
        button#mybtn.btn.btn-default.btn-md(type="button" data-toggle="modal" data-target="#myModal" data-backdrop="true") Login
        //- Modal
        #myModal(class="modal fade" role="dialog")
         .modal-dialog
         //- Modal content
         .modal-content
          //.modal-header(style="padding:35px 50px;")
          .modal-header 
           button.close(type="button" data-dismiss="modal")&times;
           h4 
            span.glyphicon.glyphicon-lock Login
           .modal-body(style="padding:40px 50px;")
            form(role="form")
             .form-group
              label(for="usrname")
               span.glyphicon.glyphicon-user Username
               input#usrname.form-control(type="text" placeholder="Enter username")
            .form-group
             label(for="psw")
              span.glyphicon.glyphicon-eye-open Password
              input#psw.form-control(type="text" placeholder="Enter password")
            .checkbox
             label Remember me 
              input(type="checkbox" value="" checked) 
              button.btn.btn-success.btn-block(type="submit")
              span.glyphicon.glyphicon-off Login
          .modal-footer
           button.btn.btn-danger.btn.default.pull-left(type="button" data-dismiss="modal")
            span.glyphicon.glyphicon-remove Cancel
            p Not a member?
             a(href="#") Sign Up
            p Forgot
             a(href="#") password?
  
    block content
  script(src='/lib/jquery/dist/jquery.min.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.min.js')