doctype html
html
    head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
body
    nav 
        ul
            each link in nav
                li
                a(href=link.Link) #{link.Text}
    
    block content
