doctype html
html
 head
 meta(charset='utf-8')
 meta(http-equiv="X-UA-Compatible" content="IE=edge")
 meta(name="viewport" content="width=device-width, initial-scale=1")
 meta(name="description" content)
 meta(name="author" content)
 title= title
 link(rel='stylesheet', href='/stylesheets/reset.css')
 link(rel='stylesheet', href='/lib/normalize-css/normalize.css')
 link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
 link(rel='stylesheet', href='/stylesheets/style.css')

 body
  header
   nav
    a.menu-bar(data-toggle="collapse" href="#menu") Admin
     div#menu.collapse.menu
      ul.list-inline
       li  
         //-a(href="#") Sign In
         #login.row.col-xs-18
          .col-xs-12.signIn
           strong Sign In
           form(name="signInForm" action="/auth/signIn" method="post")
           | User Name: 
           input(name="userName" id="useName")
           br
           | Password: 
           input(name="password" id="password")
           br
           input(type="submit" value="Sign in")
          .col-xs-12.signUp
           strong Sign Up
           form(name="signUpForm" action="/auth/signUp" method="post")
           | User Name: 
           input(name="userName" id="useName")
           br
           | Password: 
           input(name="password" id="password")
           br
           input(type="submit" value="Sign up")
  hr          
  
  block content
  hr
    
  footer
   .row
    .col-xs-12
     small &copy; Jesper Purup, Martin Damm & Peter Tanderup
    
script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
            