doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arimo:400')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    block content
  script(src='/lib/jquery/dist/jquery.min.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.min.js')